/* Styles Projekt - Erneuerbare Energien */

#mapeu {
    width: 100%;
    height: 85vh;
    border: 1px solid gray;
}

#mapde {
    width: 100%;
    height: 85vh;
    border: 1px solid grey;
}

/*STYLING LEGENDE KARTE EUROPA*/

.info {
   padding: 6px 8px;
   background: white;
   box-shadow: 0 0 10px black;
   border-radius: 5px; 
}


.legend {
    text-align: left;
    line-height: 18px;
    color: #000000;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 1;
}