/* Styles Projekt - Erneuerbare Energien */

* {
  margin: 0;
  padding: 0;
}

html {
  height: 100%
}

header {
  height: 85px;
}

main {
  margin-top: 0;
}

body {
  background: rgb(248, 255, 250);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: justify;
}

footer {
  background-color: grey;
}

/*article einrücken*/
article {
  margin-left: 150px;
  margin-right: 150px;
}

#überschrift-Container {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  width: 100%
}

img {
  width: 100%;
  height: auto;
  left: 0px;
}

.text_wasserkraft {
  padding-right: 20px;
  padding-bottom: 30px;
}

#wasserkraft::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

.text_windkraft {
  padding-right: 20px;
  padding-bottom: 30px;
}

#windkraft::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

.text_sonnenenergie {
  padding-right: 20px;
  padding-bottom: 30px;
}

#sonnenenergie::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

.text_biomasse {
  padding-right: 20px;
  padding-bottom: 30px;
}

#biomasse::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

.text_geothermie {
  padding-right: 20px;
  padding-bottom: 30px;
}

#geothermie::before {
  content: '';
  display: block;
  height: 95px;
  margin-top: -95px;
}

#text-overlay {
  position: absolute;
  top: 30%;
  left: 1%;
  color: white;
  text-align: left;
  font-weight: bold;
  text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.5)
}

section {
  padding-top: 20px;
  padding-bottom: 20px;
}

/*Navigationsleiste*/
nav {
  width: 100%;
  height: 85px;
  background-color: white;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.11);
  position: fixed;
  z-index: 5;
}

/*Liste der Navigationsleiste*/
nav ul {
  float: right;
}

/*Einträge der Liste*/
nav ul li {
  float: left;
  list-style: none;
  position: relative;
}

/*Inhalt der Einträge*/
nav ul li a {
  font-family: Arial;
  color: #272727;
  font-size: 24px;
  text-decoration: none;
  padding: 28px;
  display: block;
}

/*Hover Effekt für Inhalte der Navigationsleiste*/
nav ul li a:hover {
  background-color: rgb(179, 202, 179);
  ;
}

/*Dropdown-Menü*/
nav ul li ul {
  display: none;
  position: absolute;
  background-color: rgb(146, 175, 146);
  padding: 7px;
  border-radius: 0px 0px 12px 12px;
}

/*Dropdown-Menü Anzeige nur bei Hover*/
nav ul li:hover ul {
  display: block;
}

/*Inhalte Dropdown Menü*/
nav ul li ul li a {
  color: white;
  padding: 16px 20px;
  border-radius: 10px;
}

/*Hover für Inhalte Dropdown Menü*/
nav ul li ul li a:hover {
  background-color: rgb(100, 134, 100);
}


/*STYLING KARTEN*/


#mapeu {
  width: 100%;
  height: 85vh;
  border: 1px solid gray;
  z-index: 1;
}

#mapde {
  width: 100%;
  height: 85vh;
  border: 1px solid grey;
  z-index: 1;
}

#Diagramm {
  background-color: white;
  width: 100%;
  height: 35%;
}

#Diagramm path {
  stroke: black;
  stroke-width: 0.5;
}



#sidebar {
  background-color: white;
  padding: 10px;
  text-align: left;
  height: 100%
}

.Strich_Sidebar {
  margin-bottom: 8px;
}

#b1 {
  float: right;
  outline: none;
  background-color: white;
  width: 40px;
  height: 40px;
  border: none;
  font-size: 26px;
}



/*STYLING LEGENDE KARTE EUROPA*/

.info {
  padding: 6px 8px;
  background: white;
  box-shadow: 0 0 10px black;
  border-radius: 5px;
}


.legend {
  text-align: left;
  line-height: 18px;
  color: #000000;
}

.legend i {
  width: 18px;
  height: 18px;
  float: left;
  margin-right: 8px;
  opacity: 1;
}